@model YouthGovence.Models.ThirdPrizeTbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ThirdPrizeTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudCollege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudCollege)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventWiseResult.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventWiseResult.EventName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ThirdPrizeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
