@model YouthGovence.Models.Credential

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Credential</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEmailVerify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmailVerify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailVerificationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailVerificationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordResetCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordResetCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLoginIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLoginIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLoginOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLoginOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CredID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
