@model IEnumerable<YouthGovence.Models.Credential>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEmailVerify)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailVerificationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordResetCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLoginIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLoginOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnteredOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEmailVerify)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailVerificationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordResetCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLoginIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLoginOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnteredOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CredID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CredID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CredID })
        </td>
    </tr>
}

</table>
