@model IEnumerable<YouthGovence.Models.Department>

@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

@section Styles {
    <!-- Custom styles for this page -->
    <link href="~/Content/Admin/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.DeptID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.DeptID })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <!-- Page level plugins -->
    <script src="~/Scripts/Admin/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Admin/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Scripts/Admin/datatables-demo.js"></script>
}