@model IEnumerable<YouthGovence.Models.StudentChestNo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChestNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnteredOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleParticipation.StudPartID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChestNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnteredOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SingleParticipation.StudPartID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudChestID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudChestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudChestID })
        </td>
    </tr>
}

</table>
