@model YouthGovence.ResultVM
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!-- Breadcrumb Section Begin -->
<!-- Contact Section ends -->
<section class="breadcrumb-section set-bg spad" data-setbg="/Image/about-bread2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text ">
                    <h2>REGISTRATION</h2>
                    <div class="breadcrumb-controls">
                        <a href="~/Home/index"><i class="fa fa-home"></i> Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section ends -->
<!-- RESULT SESSION ENDS -->
<section class="classtime-section class-time-table spad">
    <div class="col-lg-10 offset-lg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <a href="/Result/CollegeWiseResult" class="primary-btn cta-btn" style="width: 190px;">College Wise Result</a>
                </div>
                <div class="col-lg-6 text-center">

                </div>
            </div>
            <!-- Individual results -->
            @*<div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                             <h2>Individual Result</h2>
                        </div>
                    </div>
                </div>*@

            @*<div class="col-lg-12">
                    <div class="row">
                        <div class="classtime-table">
                            <table>
                                    <thead>
                                        <tr>
                                            <th>no.</th>
                                            <th>Name</th>
                                            <th>Points</th>
                                            <th>College Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int indco = 1;}
                                        @foreach (var item in Model.indivijualresult)
                                        {
                                            <tr>
                                                <td class="hover-bg ts-item">
                                                    <span>@indco</span>
                                                </td>
                                                <td class="hover-bg ts-item">
                                                    <h6>@item.StudName</h6>
                                                </td>
                                                <td class="hover-bg ts-item">
                                                    <span>@item.StudPoint</span>
                                                </td>
                                                <td class="hover-bg ts-item">
                                                    <h6>@item.StudCollege</h6>
                                                </td>
                                            </tr>
                                            indco++;
                                        }
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>*@


            <!-- Individual result ends -->
            @*<div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">

                        </div>
                    </div>
                </div>*@

            <!-- college wise results -->
            @*<div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                             <h2>College wise results</h2>
                        </div>
                    </div>
                </div>*@

            @*<div class="col-lg-12">
                    <div class="row">
                        <div class="classtime-table">
                             <table>
                                    <thead>
                                        <tr>
                                            <th>no.</th>
                                            <th>college name</th>
                                            <th>points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int colcou = 1;}
                                        @foreach (var item in Model.collegeresult)
                                        {
                                            <tr>
                                                <td class="hover-bg ts-item">
                                                    <span>@colcou</span>
                                                </td>
                                                <td class="hover-bg ts-item">
                                                    <h6>@item.CollegeName</h6>
                                                </td>
                                                <td class="hover-bg ts-item">
                                                    <span>@item.CollegePoint</span>
                                                </td>
                                            </tr>
                                            colcou++;
                                        }

                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>*@

            <!-- college wise results ends -->
            @*<div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">

                        </div>
                    </div>
                </div>*@

            <!-- Event wise results -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Event wise results</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="classtime-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>no.</th>
                                    <th>Event Name</th>
                                    <th>First</th>
                                    <th>second</th>
                                    <th>third</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int eventco = 1;}
                                @foreach (var item in Model.eventWiseHeads)
                                {
                                    <tr>
                                        <td class="hover-bg ts-item">
                                            <span>@eventco</span>
                                        </td>
                                        <td class="hover-bg ts-item">
                                            <h6>@item.EventName</h6>
                                        </td>

                                        <td class="hover-bg ts-item">
                                            @foreach (var item2 in item.firstprize)
                                            {
                                                @*<span>Chest No</span>
                                                    <h6>@item.FStudChestNumber</h6>*@
                                                <span>@item2.StudName</span>
                                                <h6>@item2.StudCollege</h6>
                                            }
                                        </td>
                                        <td class="hover-bg ts-item">
                                            @foreach (var item2 in item.secondprize)
                                            {
                                                @* <span>Chest No</span>
                                                    <h6>@item.SStudChestNumber</h6>*@
                                                <span>@item2.StudName</span>
                                                <h6>@item2.StudCollege</h6>
                                            }
                                        </td>
                                        <td class="hover-bg ts-item">
                                            @foreach (var item2 in item.thirdprize)
                                            {
                                                @* <span>Chest No</span>
                                                    <h6>@item.SStudChestNumber</h6>*@
                                                <span>@item2.StudName</span>
                                                <h6>@item2.StudCollege</h6>
                                            }
                                        </td>
                                    </tr>
                                    eventco++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Event wise results ends -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- RESULT SESSION ENDS -->