@model YouthGovence.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volunteer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volunteer.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
